section#author
    .brown_block
        h3 Все 3 дня интенсива с Вами буду я, Роман Лихачев
    #author_container
        .container
            .row
                #author_img
                #author_descript
                    ul
                        li 
                            span Сертифицированный 
                            | аюрведист – специалист по древнеиндийской медицине
                        li 
                            span 10 лет 
                            | я изучаю, практикую, консультирую и обучаю аюрведе и ведическому знанию в целом
                        li 
                            span Помогаю людям 
                            | сохранять и восстанавливать свое здоровье, так же вношу свой вклад в здоровье нации
                        li Провел
                            span  более 1000 
                            | личных консультаций на территории СНГ, США, Германии и в других странах
                        li Последние 
                            span 3 года 
                            | разрабатываю и провожу массовые обучающие программы по аюрведе
                    p.last_bg “Аюрведа - не просто система исцеления, но образ жизни, цель которого - достижение идеального баланса всей личности”
            .clearfix