section#bonus_section
    .container
        h3#bonus_title Бонус!
            small всем участникам интенсива
        p “23 специи для стимуляции пищеварения и очищения тела”
        button.button(data-toggle="modal" data-target="#myModalForm") Записаться и получить бонус