mixin fors(p)
    .col-md-4.col-sm-6.for_container
        p= p

section#for_whome
    .container
        h3.whore_whome_title Эти 3 дня он-лайн практики для Вас, если:
        .row
            +fors('Слово “здоровье” Вы знаете и цените уже на практике')
            +fors('Вы хотите внешней красоты, которая идет изнутри, от здорового организма')
            +fors('Вы регулярно чувствуете беспричинные приступы усталости и снижение работоспособности')
            .col-md-2
            +fors('Порой у Вас не хватает энергии жить ярко, динамично, насыщенно')
            +fors('Видите, что у Ваших родных есть проблемы со здоровьем, энергией, настроением и Вы готовы мягко и эффективно помочь всем')
        h4.whore_whome_subtitle Все это мы научимся исправлять и улучшать!
        button.button(data-toggle="modal" data-target="#myModalForm") Записаться
        img(src="img/branch_small.png", alt="Маленькая веточка")#branch_small
        img(src="img/branch_big.png", alt="Веточка большая")#branch_big
    