section#main_screen
    .container
        include header
        p.date Бесплатный интенсив 
            br
            | с 18 по 20 июня, 19:00 мск
        h1 3 шага к здоровью
        h2 Эффективные практики древней Аюрведы для себя и семьи
        .video_wrapper#main_video_wrapper
            iframe(src="https://www.youtube.com/embed/Tzpiwr2U1ow?rel=0&showinfo=0&autoplay=0"  allowfullscreen)
        img(src="img/roman.png", alt="Роман Лихачёв")#roman