section#plan
    .brown_block
        h3 С 18 по 20 июня я расскажу Вам:
    #days_container
        #day_1
            .day_pic
            .day_descript
                h4 День 1 - 
                    span Режим дня по аюрведе
                ul.descript_list
                    li поймем как к нему приблизиться
                    li научимся использовать суточные циклы
                    li узнаем кому и когда просыпаться
                    li объясню, что сделать утром, чтобы день был счастливым
                    li запишем как удобно, правильно и бюджетно организовать завтрак, обед, ужин
                    li найдем баланс в системе “учеба-работа-отдых”
                    li постигнем особенности сна и подготовки к нему
            .clearfix
        #day_2
            .day_pic
            .day_descript
                h4 День 2 - 
                    span Доши - 3 энергии в теле
                ul.descript_list
                    li изучим свойства дош, качества, как они проявляются
                    li узнаем какие доши присутствуют в Вашем теле
                    li научимся определять доши своих близких
                    li выясним какие они вызывают проблемы
                    li разберемся как эти проблемы решать
                    li попрактикуемся в управлении дошами
            .clearfix
        #day_3
            .day_pic
            .day_descript
                h4 День 3 - 
                    span Питание. Основы      аюрведической кулинарии
                ul.descript_list
                    li структурированно разберем аюрведическую кухню
                    li сделаем несколько практических техник
                    li научимся без особых усилий создавать индивидуальное полезное меню каждому члену семьи
                    li поймем как работают специи
                    li откроем древние секреты здоровья через пищу
            .clearfix
    h5.plan_subtitle Научитесь жить зд
        span о
        | рово и здор
        span о
        | во!
    button.button(data-toggle="modal" data-target="#myModalForm") Записаться