section#responses
    .brown_block
        h3 Отзывы моих учеников
    #responses_container
        .container
            #video_slider.carousel.slide(data-ride="carousel" data-interval="false")
                .carousel-inner(role="listbox")
                    .item.active
                        .video_wrapper(data-youtube="igphp0wR3ys")
                            img(src="img/video_1.jpg", alt="Видео-отзыв 1")
                    .item
                        .video_wrapper(data-youtube="vYI-BZf8lm4")
                            img(src="img/video_2.jpg", alt="Видео-отзыв 2")
                    .item
                        .video_wrapper(data-youtube="Duvi3LSURSI")
                            img(src="img/video_3.jpg", alt="Видео-отзыв 3")
                    .item
                        .video_wrapper(data-youtube="oZMAHfhB1hw")
                            img(src="img/video_4.jpg", alt="Видео-отзыв 4")
                    .item
                        .video_wrapper(data-youtube="bCmn3NxsVqE")
                            img(src="img/video_5.jpg", alt="Видео-отзыв 5")
                ol.carousel-indicators
                    li(data-target="#video_slider" data-slide-to="0" class="active")
                    li(data-target="#video_slider" data-slide-to="1")
                    li(data-target="#video_slider" data-slide-to="2")
                    li(data-target="#video_slider" data-slide-to="3")
                    li(data-target="#video_slider" data-slide-to="4")
                .controls
                    a.left.carousel-control(href="#video_slider" role="button" data-slide="prev") &larr;
                    a.right.carousel-control(href="#video_slider" role="button" data-slide="next") &rarr;
            mixin tt(h4, p,it_class)
                .item(class= it_class)
                    .testim_container
                        h4= h4
                        p= p
            #text_slider.carousel.slide(data-ride="carousel" data-interval="false")
                .carousel-inner(role="listbox")
                    +tt('Жанна Казимирко','Аюрведой интересовалась самостоятельно уже несколько лет, но благодаря Роману, все знания выстраиваются в логическую цепочку, которая ведет к пониманию очень важных вещей. Замечательный курс, помогающий понять причины нездоровья и исправить их натуральными, природными средствами. Огромная благодарность Роману за то, что он так щедро и искренне делится сокровенными ведическими знаниями. Рекомендую всем желающим изучать Аюрведу, пройти курс у Романа - огромный багаж знаний, обратная связь с учителем и доступная цена. Желаю успехов, процветания, благополучия Роману и его команде на пути служения миру для всеобщего блага!', 'active')
                    +tt('Марина Константинова','Учусь у Романа практически "жить заново" . В школе нас учат чему угодно, кроме того, что реально потребуется для счастливой и полноценной жизни. Учусь правильно питаться, режиму дня, правильно строить отношения. Это всем нам необходимо, чтобы начать практиковать - начни изменения с самого себя! И мне кажется, что уже есть изменения. Ждем новых лекций, переслушиваем, что нужно повторить. Спасибо!')
                    +tt('Александр Самойлов','Месяц назад обратился к Роману с проблемой по здоровью. У меня после простуды был продолжительный кашель (недели четыре) и стандартные таблетки от кашля мне не помогали, так как не было известно какой именно вирус посетил мое тело. И вот я у Ромы! Он провел диагностику моего организма, выявил "подселенцев", назначил лечение! Выполнив его рекомендации и пропив курс "волшебных пилюль" кашель прошел!!! Спасибо большое Роме за заботу!')
                    +tt('Виктория Доржиева','Здоровский курс по Аюрведе! Это целое заочное обучение! Конечно мне тоже хотелось пройти курс, но то денег не хватает, то времени; поэтому этот курс очень удобен, очень, очень! Вся информация структурирована, и доносится практикующим врачом, это тоже очень важно. Раньше я кое-что знала об Аюрведе, какие-то обрывки информации, а теперь понимаю, что знала я всего каплю в море. Что я могу пожелать тем, кто еще не участвует в проекте, так это если вы искали курсы по аюрведе, но не нашли по каким-то причинам или отложили до лучших времен, тогда дерзайте! - действительно полезно, удобно и доступно! Желаю всем удачи и терпения!')
                    +tt('Светлана Савина','Хочу выразить искреннюю благодарность Роману и всем,кто принимает участие в разработке и организации этого курса!!!! Очень полезная информация,подается нашим учителем доступно, интересно… так, что хочется и хочется слушать!))) Каждый вебинар начинается вовремя с точностью до минуты (для меня это тоже важно!!! и говорит об уважении). У меня сейчас сложный астрологический период ,как раз с упором на здоровье,поэтому тема эта очень актуальна и очень вовремя!!!! И конечно не случайно я попала на этот курс!) Надеюсь,что буду хорошей ученицей и сдам экзамен, т.к. очень хочу получить благословение и практиковать!!! С уважением к Вам, Роман! Всех вам БЛАГ!!!')
                ol.carousel-indicators
                    li(data-target="#text_slider" data-slide-to="0" class="active")
                    li(data-target="#text_slider" data-slide-to="1")
                    li(data-target="#text_slider" data-slide-to="2")
                    li(data-target="#text_slider" data-slide-to="3")
                    li(data-target="#text_slider" data-slide-to="4")
                .controls
                    a.left.carousel-control(href="#text_slider" role="button" data-slide="prev") &larr;
                    a.right.carousel-control(href="#text_slider" role="button" data-slide="next") &rarr;
        img(src="img/branch_resp_1.png", alt="Веточка слева")#branch_left
        img(src="img/branch_resp_2.png", alt="Веточка справа")#branch_right