#author_container
	background-image url(../img/author_bg.png)
	background-repeat no-repeat
	background-position 0 0
	padding 0 0 90px
#author_img
	width: 50%
	float left
	height: 719px
	background-image url(../img/author.png)
	background-repeat no-repeat
	background-position -77px center
	background-size cover
#author_descript
	width: 50%
	float: right
	padding 69px 0 0 54px
	ul
		li
			list-style: none
			padding-left: 28px
			margin-bottom: 19px
			font-size: 18px;
			font-family: "OpenSansRegular", sans-serif;
			color: rgb(45, 27, 12);
			line-height: 1.5;
			background-image url(../img/disc.png)
			background-repeat no-repeat
			background-position 0 11px
			span
				font-family: "OpenSansBold", sans-serif;
.last_bg
	font-size: 31px;
	font-family: "PlayfairDisplayBlack", serif;
	color: rgb(123, 145, 58);
	line-height: 1.29;
	text-align: center;
.partner_button
	margin-top: 30px
	width: 400px