#bonus_section
	width: 100%
	background-image url(../img/bonus_bg.jpg)
	background-repeat no-repeat
	background-size: cover
	background-position center
	padding 75px 0 95px
	.button
		width: 477px
		margin 0 auto

#bonus_title 
	font-size: 44px;
	font-family: "PlayfairDisplayBold",serif;
	color: rgb(253, 252, 251);
	line-height: 1;
	text-align: center
	width: 461px
	height 126px
	margin 0 auto
	background-image url(../img/bonus_title_bg.png)
	background-repeat no-repeat
	padding-top: 22px
	small
		display block
		font-size: 20px
		font-family: "OpenSansSemibold", sans-serif;
		padding-top: 9px
	& + p
		font-size: 31px;
		font-family: "OpenSansBold", sans-serif;
		color: rgb(247, 248, 250);
		line-height: 1.419;
		text-align: center;
		text-shadow: 0px 0px 12.32px rgba(12,9,4, .26)
		width: 753px;
		margin 42px auto 56px