#footer
	background: #150d06
	position relative
	padding: 40px 0
	text-align: center
	&:before
		content: ''
		position: absolute
		height 1px
		width: 100%
		left 0
		right 0
		background-color #fff
		top 6px
#footer
	h5
		font-size: 24px;
		font-family: "PlayfairDisplayBold", serif;
		color: #fffcfc;
		line-height: 1
		margin-bottom: 20px
	p
	#conditions
		font-size: 14px;
		font-family: "OpenSansLight", sans-serif;
		color: #fefefe;
		line-height: 1.8
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none

.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 0 18px 20px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-image: linear-gradient( -90deg, rgb(253,131,50) 0%, rgb(255,84,37) 100%);
			box-shadow 0 5px 11px 0 rgba(#000000, .15)
			color #150d06
			font-size 20px
			line-height 30px
			border-radius 50%
			&:hover
				background-image: linear-gradient( 90deg, rgb(253,131,50) 0%, rgb(255,84,37) 100%);
				color: #150d06
.modal-content
	background: #fefefe
	border 3px solid #aaa
	text-align center
	padding 20px
	.close
		position absolute
		border 0
		border-radius 50%
		width 40px
		height 40px
		font-size 30px
		line-height 32px
		right 20px
		top 20px
		z-index 999
		padding: 0;
		text-align: center;
		transform: rotate(-90deg)
		transition:  all .3s ease-in-out
		&:hover
			transform: rotate(90deg)
			background: rgb(22,21,17)
			color: #fff
			border: 1px solid #eee
			line-height 20px
			transition:  all .3s ease-in-out
#myPolitics
	.modal-title
		font-size: 24px
		small
			display block
	.modal-body
		p
			font-family: 'OpenSansRegular', sans-serif
			text-align: left
			font-size: 18px
			margin-bottom: 20px
#myModalForm
	.modal-content
		background-color: #2d1b0c
	.form_modal
		h4
			font-size: 34px;
			font-family: "PlayfairDisplayBold",serif;
			color: rgb(255, 255, 255);
			line-height: 1.1;
			text-align: center
			margin-bottom: 24px
		.form_bonus
			margin-bottom: 20px
		input
			margin 0 auto 20px
			width: 350px
		.button
			width: 350px
			margin 0 auto 10px
