#for_whome
    padding: 93px 0 100px
    text-align: center
    overflow hidden
    .container
        position relative
.whore_whome_title
    font-size: 44px;
    font-family: "PlayfairDisplayBold", serif;
    color: rgb(45, 27, 12);
    line-height: 1
    margin-bottom: 37px
.whore_whome_subtitle
    font-size: 31px;
    font-family: "PlayfairDisplayBlack", serif;
    color: rgb(123, 145, 58);
    line-height: 1
    margin: 74px 0 -7px
.for_container
    margin-bottom: -10px
    padding 253px 13px 0
    background-repeat no-repeat
    p
        font-size: 20px;
        font-family: "OpenSansSemibold", sans-serif;
        color: rgb(45, 27, 12);
        line-height: 1.45;
        margin-bottom: 0
    &:first-of-type
        background-image url(../img/icon_1.png)
        background-position 49px 25px
    &:nth-of-type(2)
        background-image url(../img/icon_2.png)
        background-position 75px 53px
    &:nth-of-type(3)
        background-image url(../img/icon_3.png)
        background-position 74px 0
    &:nth-of-type(5)
        background-image url(../img/icon_4.png)
        background-position 71px 0
    &:last-of-type
        background-image url(../img/icon_5.png)
        background-position 54px 31px
#branch_small
    position: absolute
    left: 67px;
    bottom: 295px;
#branch_big
    position: absolute
    right: -89px;
    bottom: 84px;