@media screen and (min-width 1900px)
    .container
        width: 1400px
    .date
        width: 580px;
        height: 150px;
        font-size: 34px;
        background-size: cover;
    h1
        font-size: 56px;
    h2
        font-size: 40px;
        width: 700px
    #main_video_wrapper
    #bonus_main_video_wrapper
        margin-top: 30px
        width: 700px
    #form_container
        height 168px
    #mail_section h4
        font-size: 44px
    .form_bonus
        font-size: 30px
    .button
        font-size: 34px
        height: 69px;
        line-height: 69px;
        width: 300px
    .form_newsletter input
        height: 69px;
        line-height: 69px;
        font-size: 24px
    .checking
        width: 600px
        .check_label
            font-size: 20px
    .alert_message
        font-size: 28px
    .modal-dialog
        width: 950px
    #myPolitics .modal-title
        font-size: 34px
    #myPolitics .modal-body p
        font-size: 26px
    .whore_whome_title
        font-size: 54px
    .for_container p
        font-size: 30px
    .whore_whome_subtitle
    .plan_subtitle
        font-size: 41px
    #myModalForm .form_modal h4
        font-size: 44px
    #myModalForm .form_modal input
    #myModalForm .form_modal .button
        width: 450px
    .brown_block h3
        font-size: 54px
    .day_descript
        padding: 13px 0px 0 25px;
        h4
            font-size: 40px
            margin-bottom: 25px
    .descript_list li
        font-size: 25px;
    #day_2 .day_descript
        padding: 20px 40px 0 66px;
    #day_3
        .day_descript
            padding-top: 35px
    #author_descript
        padding-top: 30px
        padding-left: 0
        width: 58%
    #author_descript ul li
        font-size: 28px
    .last_bg
        font-size: 41px
    .partner_button
        width: 550px
        margin-top: 80px;
    #author_img
        width: 42%
    .controls .carousel-control
        width: 70px;
        height: 70px;
        line-height: 62px;
        font-size: 44px;
    #video_slider .video_wrapper
        width: 800px
    #video_slider .controls
        width: 74%
    #text_slider .testim_container h4
    #text_slider .testim_container p
        font-size: 28px
    #text_slider .testim_container p
        min-height: 510px
    #text_slider .controls
        width: 82%
    #branch_right
        right 0
    #bonus_title
        padding-top: 26px;
        width: 580px;
        height: 150px;
        font-size: 54px;
        background-size: cover;
        small
            font-size: 30px
    #bonus_title+p
        font-size: 41px
    #bonus_section .button
        width: 600px
    #footer #conditions, #footer p
        font-size: 20px
    #bonus h1
        font-size: 46px
    #spice_table_section h3
        font-size: 44px
    .spice_button
        width: 400px
    .spice_table th
        font-size: 24px
    .spice_name
        font-size: 26px
    #footer h5
        font-size: 30px
    .soc_buttons a .fa
        width: 50px
        height 50px
        line-height 50px
        font-size: 29px
@media screen and (max-width 1199px)
    .contacts .fa
        margin 0 8px 0 15px
    #roman
        width: 500px
    .for_container:first-of-type
        background-position-x: 28px
    .for_container:nth-of-type(2)
    .for_container:nth-of-type(3)
    .for_container:nth-of-type(5)
        background-position-x: 46px
    .for_container:last-of-type
        background-position-x: 22px
    .day_descript
        padding 30px 30px 0 27px
    #day_2 .day_descript
        padding 30px 30px 0 87px
    #author_img
        width: 42%
        height 514px
        background-position: -63px center;
    #author_descript
        width: 58%;
        padding: 38px 0 0 38px;
    #text_slider .testim_container
        width: 86%
    .spice_table th
        font-size: 12px
    .spice_name
        font-size: 14px
    .spice_table td, .spice_table th
        padding 10px
    .spice_table th:first-child
        width: auto;