@media screen and (min-width 1900px)
    .container
        width: 1400px
    .date
        width: 580px;
        height: 150px;
        font-size: 34px;
        background-size: cover;
    h1
        font-size: 56px;
    h2
        font-size: 40px;
        width: 700px
    #main_video_wrapper
    #bonus_main_video_wrapper
        margin-top: 30px
        width: 700px
    #form_container
        height 168px
    #mail_section h4
        font-size: 44px
    .form_bonus
        font-size: 30px
    .button
        font-size: 34px
        height: 69px;
        line-height: 69px;
        width: 300px
    .form_newsletter input
        height: 69px;
        line-height: 69px;
        font-size: 24px
    .checking
        width: 600px
        .check_label
            font-size: 20px
    .alert_message
        font-size: 28px
    .modal-dialog
        width: 950px
    #myPolitics .modal-title
        font-size: 34px
    #myPolitics .modal-body p
        font-size: 26px
    .whore_whome_title
        font-size: 54px
    .for_container p
        font-size: 30px
    .whore_whome_subtitle
    .plan_subtitle
        font-size: 41px
    #myModalForm .form_modal h4
        font-size: 44px
    #myModalForm .form_modal input
    #myModalForm .form_modal .button
        width: 450px
    .brown_block h3
        font-size: 54px
    .day_descript
        padding: 13px 0px 0 25px;
        h4
            font-size: 40px
            margin-bottom: 25px
    .descript_list li
        font-size: 25px;
    #day_2 .day_descript
        padding: 20px 40px 0 66px;
    #day_3
        .day_descript
            padding-top: 35px
    #author_descript
        padding-top: 30px
        padding-left: 0
        width: 58%
    #author_descript ul li
        font-size: 28px
    .last_bg
        font-size: 41px
    .partner_button
        width: 550px
        margin-top: 80px;
    #author_img
        width: 42%
    .controls .carousel-control
        width: 70px;
        height: 70px;
        line-height: 62px;
        font-size: 44px;
    #video_slider .video_wrapper
        width: 800px
    #video_slider .controls
        width: 74%
    #text_slider .testim_container h4
    #text_slider .testim_container p
        font-size: 28px
    #text_slider .testim_container p
        min-height: 510px
    #text_slider .controls
        width: 82%
    #branch_right
        right 0
    #bonus_title
        padding-top: 26px;
        width: 580px;
        height: 150px;
        font-size: 54px;
        background-size: cover;
        small
            font-size: 30px
    #bonus_title+p
        font-size: 41px
    #bonus_section .button
        width: 600px
    #footer #conditions, #footer p
        font-size: 20px
    #bonus h1
        font-size: 46px
    #spice_table_section h3
        font-size: 44px
    .spice_button
        width: 400px
    .spice_table th
        font-size: 24px
    .spice_name
        font-size: 26px
    #footer h5
        font-size: 30px
    .soc_buttons a .fa
        width: 50px
        height 50px
        line-height 50px
        font-size: 29px
@media screen and (max-width 1199px)
    .contacts .fa
        margin 0 8px 0 15px
    #roman
        width: 500px
    .for_container:first-of-type
        background-position-x: 28px
    .for_container:nth-of-type(2)
    .for_container:nth-of-type(3)
    .for_container:nth-of-type(5)
        background-position-x: 46px
    .for_container:last-of-type
        background-position-x: 22px
    .day_descript
        padding 30px 30px 0 27px
    #day_2 .day_descript
        padding 30px 30px 0 87px
    #author_img
        width: 42%
        height 514px
        background-position: -63px center;
    #author_descript
        width: 58%;
        padding: 38px 0 0 38px;
    #text_slider .testim_container
        width: 86%
    .spice_table th
        font-size: 12px
    .spice_name
        font-size: 14px
    .spice_table td, .spice_table th
        padding 10px
    .spice_table th:first-child
        width: auto;
@media screen and (max-width 991px)
    #logo
        width: 220px
        float: none
        margin 0 auto 10px
        display block
    .contacts
        float: none
        text-align: center
        padding-right: 0
        a
            display: inline-block
    .date
        margin-top: 20px
    #roman
        display: none
    #main_video_wrapper
        margin: 0 auto
    #form_container
        height auto
        display block
    .form_bonus
        text-align: center
        margin-bottom: 20px
    .form_newsletter input
    .form_newsletter .button
        width: 450px
        margin 0 auto 20px
    .for_container
        margin-bottom: 10px
    .for_container:first-of-type
        background-position-x: 49px;
    .for_container:nth-of-type(2), .for_container:nth-of-type(3), .for_container:nth-of-type(5)
        background-position-x: 70px;
    .for_container:last-of-type
        background-position-x: 43px;
        width: 350px;
        float: none;
        margin: 0 auto;
        clear: both;
    .day_pic
    #day_2 .day_pic
        float: none
        width 100%
        margin 0 auto 20px
    .day_descript
    #author_descript
        float: none
        width 600px
        margin 0 auto 20px
    .day_descript
        padding: 0 30px 30px 27px;
    #day_2 .day_descript
        padding: 0 30px 30px 27px;
    .plan_subtitle
        margin-top: 0
    .brown_block h3
        padding 0 10px
    #author_img
        width: 450px;
        float: none;
        margin: 0 auto 20px;
        background-position: -44px center;
    #author_descript
        padding: 0
    #video_slider .controls
    #bonus_title + p
        width: 100%
    .spice_table td, .spice_table th
        padding: 10px 5px
@media screen and (max-width 767px)
    .for_container
        width: 350px;
        float: none;
        margin: 0 auto;
        clear: both
    .for_container:first-of-type
        background-position-x: 33px;
    .for_container:nth-of-type(2), .for_container:nth-of-type(3), .for_container:nth-of-type(5)
        background-position-x: 59px;
    .for_container:last-of-type
        background-position-x: 33px;
    #for_whome
    #responses_container
    #bonus_section
        padding: 50px 0
    #day_2 .day_pic, .day_pic
        height 300px
    .day_descript h4
        text-align: center
    #plan
    #author_container
        padding-bottom: 50px
    #author_img
    .whore_whome_title
        margin-bottom: 0
    #video_slider 
        margin-bottom: 45px;
        .video_wrapper
            width: 80%
    #branch_small
        left 0
    #spice_table
        display: none
    #mob_spice_table
        display block
    #spice_table_section
        padding: 30px 0
@media screen and (max-width 650px)
    .date
        width: 100%;
        background-size: contain;
    #main_video_wrapper
    #bonus_main_video_wrapper
    h2
        width: 100%
    .day_descript
    #day_2 .day_descript
        width: 100%
        padding  0 30px 20px
    #author_descript
        width: 90%
    #video_slider .video_wrapper
        width: 76%
    #text_slider .testim_container
        width: 76%
        max-height: 323px
        overflow-x: scroll
    #bonus_title
        width: 100%;
        background-size:  contain;
        background-position: center;
    #bonus_section .button
        width: 300px;
        height: auto;
        line-height: 1.1;
        padding: 10px 20px;
    .form_newsletter .button, .form_newsletter input
    .checking
        width: 380px
@media screen and (max-width 480px)
    #responses_container
        padding-bottom: 100px
    #video_slider
        margin-bottom: 80px
    #video_slider .video_wrapper
    #text_slider .testim_container
        width: 100%
    #text_slider .controls
    #video_slider .controls
        top auto
        bottom 15px
     #branch_small
    #branch_big
    #branch_left, #branch_right
        display: none
    #mob_spice_table
        width 100%
    .soc_buttons a
        margin 0 8px 20px
@media screen and (max-width 425px)
    .button
        font-size: 24px
    .contacts .fa
    .contacts .fa + span
        font-size: 14px
    .date
        margin: 0 auto
        font-size: 18px
        height auto
    h1
        font-size: 34px
        margin: 20px 0
    h2
        font-size: 22px
        line-height: 1.2
    #mail_section h4
        font-size: 24px
        margin-bottom: 10px
    .form_bonus
        font-size: 18px
    .form_newsletter .button, .form_newsletter input
    #bonus_section .button
    #myModalForm .form_modal input
    #myModalForm .form_modal .button
        width: 100%
    .checking
        width: 90%
    #for_whome
    #footer
        padding: 30px 0
    #responses_container
        padding 30px 0 60px
    .whore_whome_title
    .brown_block h3
        font-size: 34px
    .for_container p
        font-size: 18px
    .whore_whome_subtitle
        font-size: 26px
        margin-top: 30px
    #day_2 .day_pic, .day_pic
        height 200px
    .day_descript h4
        font-size: 24px
        margin-bottom: 20px
    .plan_subtitle
    .last_bg
        font-size: 26px
    #author_img
        width: 280px
        height: 325px
        background-position-x: -30px
    .partner_button
        width: 100%
        height auto
        line-height: 1.2
        padding 10px 0
    #text_slider .testim_container p
    #myPolitics .modal-body p
        font-size: 16px
    #bonus_title
        padding-top: 30px
        font-size: 34px
        small
            font-size: 18px
    #bonus_title + p
        font-size: 24px
        line-height: 1.2
        margin: 20px 0
    .modal-content
        padding: 10px
    #footer #conditions, #footer p
    .checking .check_label
        font-size: 12px
    #myModalForm .form_modal h4
    #spice_table_section h3
        font-size: 24px
    .modal-content .close
        top:  5px
        right 5px
    #bonus_main_video_wrapper
        margin-top: 20px
    #bonus h1
        font-size: 26px
    .spice_button
        margin-top: 20px
    #footer h5
        font-size: 20px
@media screen and (max-width 360px)
    .button
        width: 100%
        font-size: 22px
    #plan .button
        width: 90%
    #myPolitics .modal-title
        font-size: 19px;
    .date
        font-size: 14px
    h1
        margin-top: 10px
        font-size: 30px
    .brown_block h3, .whore_whome_title
        font-size: 30px
    .for_container
    .for_container:last-of-type
        width: 250px
        background-size: 70%;
        padding-top: 200px
    .for_container:first-of-type
        background-position-x: 26px;
    .for_container:nth-of-type(2), .for_container:nth-of-type(3), .for_container:nth-of-type(5)
        background-position-x: 44px;
    .for_container:last-of-type
        background-position-x: 29px;
    #day_2 .day_descript, .day_descript
        padding: 0 12px 15px
    .descript_list li
        padding-left: 30px
    .last_bg
    #bonus_title + p
        font-size: 22px
    .partner_button
        margin-top: 20px
    #bonus_section
        padding 30px 0 50px
    #bonus_title
        font-size: 28px
        // background-size: 100% 100%
        padding-top: 40px;
        small
            font-size: 14px
            padding-top: 2px
    .spice_button
        width: 100%
        padding 10px
        height auto
        line-height: 1.2
