#spice_table_section
	padding 60px 0
	h3
		font-size: 34px;
		font-family: "PlayfairDisplayBold", sans-serif;
		color: #000
		line-height: 1
		text-align: center
		margin: 0 auto 40px
		width: 80%
.spice_table
	margin: 0 auto;
	border-collapse: collapse;
	background-color: #f8f8f8;
#mob_spice_table
	width: 450px
	display: none
	border: 1px solid #ccc;
.spice_table td,
.spice_table th
	border: 1px solid #ccc;
	padding 15px
.spice_action,
.spice
	padding 15px
	border-bottom: 1px solid #ccc;
.spice_table th,
.spice_action
	text-transform: uppercase;
	font-family: 'OpenSansSemibold', sans-serif
	font-size: 14px
.spice_action
	font-size: 20px
	text-align: center
.spice_table th:first-child
	width: 18%;
.spice_name
.spice
	font-family: 'OpenSansBold', sans-serif
	font-size: 16px
.spice_table td.spice_checked
	background-color: #FAF4EF;
	background-image: url(../img/check.png);
	background-position: center;
	background-repeat: no-repeat;
.spice_table tr:nth-child(2n)
	background-color: white;
.spice
	text-align: center
	font-size: 18px
	background-color #fff
