#spice_table_section
	padding 60px 0
	h3
		font-size: 34px;
		font-family: "PlayfairDisplayBold", sans-serif;
		color: #000
		line-height: 1
		text-align: center
		margin: 0 auto 40px
		width: 80%

.spice_table {
	margin: 0 auto;
	border-collapse: collapse;
	background-color: #f8f8f8;
}

.spice_table td,
.spice_table th {

	border: 1px solid #ccc;
	padding 15px
}

.spice_table th {
	text-transform: uppercase;
	font-family: 'OpenSansSemibold', sans-serif
	font-size: 14px
}

.spice_table th:first-child {
	width: 18%;
}
// .spice_table td
// 	width: 11.7%
.spice_name
	font-family: 'OpenSansBold', sans-serif
	font-size: 16px
.spice_table td {
	line-height: 2rem;
	padding-left: 20px;
}

.spice_table td.spice_checked{
	background-color: #FAF4EF;
	background-image: url(../img/check.png);
	background-position: center;
	background-repeat: no-repeat;
}

.spice_table tr:nth-child(2n) {
	background-color: white;
}